body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #861d1d;
  background-image: url('images/image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.dark-mode {
  background-color: #333333;
  color: white;
}

.container {
  text-align: center;
  background: rgb(173, 157, 157);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  font-size: 16px;
  color: #290b61;
}

#weatherIcon img {
  width: 50px;
  height: 50px;
}


#searchHistory button {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchHistory button:hover {
  background-color: #218838;
}

#Time {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}
